<body>
  <div class = "about-pic">
  </div>

  <article class ="about-text">
    <h3>CMUSELTON</h2>
    <h4><a href="adadevelopersacademy.org">Ada Cohort[1] Student</a></h4>
      <p> Coder, Linguist, Syntactician, Knitter, Tree Climber</p>
        <ul class= "links">
          <li> <a href="https://twitter.com/catusel">twitter</a> </li>
          <li> <a href="https://github.com/catstavi">github</a> </li>
          <li> linkedin </li>
       </ul>
  </article>

</body>
