<div class = "aboutpic">
<img src ="http://placekitten.com/g/500/600"/>
</div>
<br>

<div class ="about">
  <h2>CMUSELTON</h2>
  <h3>Ada Cohort[1] Student</h3>
    <p>Linguist, Syntactician, Knitter, Coder, Tree Climber</p>
    <p>Twitter, GitHub, LinkedIn</p>
</div>
