<body>
  <div class = "aboutpic">
    <img src ="http://placekitten.com/g/500/600"/>
  </div>

  <div class ="about">
    <h2>CMUSELTON</h2>
    <h3>Ada Cohort[1] Student</h3>
      <p>Linguist, Syntactician, Knitter, Coder, Tree Climber</p>
        <ul class= "links">
          <li> <a href="https://twitter.com/catusel">twitter</a> </li>
          <li> <a href="https://github.com/catstavi">github</a> </li>
          <li> linkedin </li>
       </ul>
  </div>

</body>
