<body>
  
  <img class = "about-pic" src ="http://placekitten.com/g/500/600"/>

  <article class ="about-text">
    <h3>CMUSELTON</h2>
    <h4>Ada Cohort[1] Student</h4>
      <p>Linguist, Syntactician, Knitter, Coder, Tree Climber</p>
        <ul class= "links">
          <li> <a href="https://twitter.com/catusel">twitter</a> </li>
          <li> <a href="https://github.com/catstavi">github</a> </li>
          <li> linkedin </li>
       </ul>
  </div>

</body>
