<div class = "aboutpic">
<img src ="http://placekitten.com/g/500/600"/>
</div>
<br>CMUSELTON<br>
Ada Cohort[1] Student<br>
Linguist, Syntactician, Knitter, Coder, Tree Climber<br>
<br>
Twitter, GitHub, LinkedIn
