<body>
  <h2 class = "blog-title"> A Blog, Of Course </h2>


<!--let's change the read_file -->
  <% @posts.each do |post| %>
    <article>
      <%= erb post.url.to_sym %>
      <a class = 'show-options'>&#x21a7;</a>
      <br>
    </article>
  <%  end %>

  <a class= "next-page" href="/posts/2">&#x219d;</a>
</body>
