<body>
  <p>
    In all trust, there is the possibility for betrayal. You're going to be an
   interesting companion, Mr. Data. Mr. Worf, you do remember how to fire
    phasers? We finished our first sensor sweep of the neutral zone.
    Congratulations - you just destroyed the Enterprise. I'd like to think
    that I haven't changed those things, sir.
    <br><br> <br> <br> <br> <br> <br>    <br><br> <br> <br> <br> <br> <br>
    Computer, lights up! Smooth as an android's bottom, eh, Data? Wouldn't that bring about chaos? Besides,
     you look good in a dress. Sorry, Data. Flair is what marks the difference
    between artistry and mere competence.
    <br><br> <br> <br> <br> <br> <br>    <br><br> <br> <br> <br> <br> <br>
    Now, how the hell do we defeat an
    enemy that knows us better than we know ourselves? This should be
    interesting.
    <br><br> <br> <br> <br> <br> <br>     <br><br> <br> <br> <br> <br> <br> 
    I am your worst nightmare! Travel time to the nearest starbase?
    Your head is not an artifact!
  </p>


</body>
