<body>
  <% @posts.each do |post| %>
    <article>
    <!-- <%= post.read_file_intro %> -->
    <%= erb post.url.to_sym %>
    <a class = 'show-options'>&#x21a7;</a>
    <br>
    </article>
  <% end %>

  <section class= "arrows">
    <a class= "back-page" href= <%= @back_link %> > &#x219c; </a>
    <% if @next_check != nil %>
      <a class= "next-page" href= <%= @next_link %> > &#x219d; </a>
    <% else %>
      <a class= "next-page" href= "/about"> &hearts; </a>
    <% end %>
  </section>

</body>
