<!DOCTYPE html>
<html>
  <head>
    <link type = "text/css" rel= "stylesheet" href = "/css/resets.css" />
    <link href='http://fonts.googleapis.com/css?family=Quattrocento:400,700' rel='stylesheet' type='text/css'>
    <link type="text/css" rel= "stylesheet" href= "/css/style.css" />
  </head>
  <body>
    <p id= "notfound">Nothing here, sorry.</p>
    <!--Video of Ollie sticking his head in a shoe?-->
    <video src="RSM.Ada.Clip.2.mov"
      width= "100%" height="600px"
      preload
      autoplay>
    </video>
  </body>
</html>
