aside {
	top: 0;
	right: 0;
	width: 25vw;
	height: 100%;
  text-align: center;
  float: right;
  background-color:rgba(120,150,155,0.5);
  position: fixed
}

header {
	margin: 0;
	width: 100%;
	height: 30vh;
	background-image:
			url(http://placekitten.com/g/1400/250);
	background-size: cover;
}

section {
	border-top: .5em solid rgba(10,10,10,.5);
	padding-top: 5vh;
	padding-left: 15vw;
	padding-right: 35vw;
	background-color: rgba(207,255,235,1);
	min-height: 100vh;
}

aside li {
  list-style: none;
  padding: .3em;
  padding-right: 2em;
}

h2 {
  color: #224F45
}

a {
  text-decoration: none;
  color: #006B53;
}

a:visited {
  color: #224F45;
}

a:hover {
  color: #4CB09A;
}

.aboutpic {
  float: left;
}

img {
  border-radius: 2%;
  margin: 2em;
}

h3 {
  color: #004F34;

}

.links li {
  display: inline;
}

.links {
  list-style: none;
}

/*.bpost {
  border: .1em dotted;
  margin: 2em;
  padding-left: 3em;
  padding-right: 3em;
  background-color:rgba(0,181,121,.4);
  border-radius: 2%;
}*/


/*body,html {
    background-color: #47ECB5;
    margin: 0;
    font-family: 'Quattrocento', helvetica, sans-serif;
    font-size: 14px;
    color: #062770;
    min-height: 100%;
}*/
/*
.jar {
  margin-right: 20em;
  margin-left: 5em;
  margin-top: 0;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 1em;
  background-color: #B9FFEF;
  border-left: .1em solid #0DFF36;
  border-right: .1em solid #0DFF36;
  min-height: 100vh;

  }*/
