.rightbar {
	top: 0;
	margin-top: 0.5em;
	right: 0;
	width: 13em;
  border-left: .2em dashed #01E883;
  margin-top: 0em;
  padding-left: .4em;
  padding-right: .4em;
  padding-bottom: 100%;
  text-align: center;
  float: right;
  background-color:rgba(13,255,53,0.5);
  position: fixed
}

.rightbar li {
  list-style: none;
  padding: .3em;
  padding-right: 2em;
}

h2 {
  color: #224F45
}

a {
  text-decoration: none;
  color: #006B53;
}

a:visited {
  color: #224F45;
}

a:hover {
  color: #4CB09A;
}

.aboutpic {
  float: left;
}

img {
  border-radius: 2%;
  margin: 2em;
}

h3 {
  color: #004F34;

}

.links li {
  display: inline;
}

.links {
  list-style: none;
}

/*.bpost {
  border: .1em dotted;
  margin: 2em;
  padding-left: 3em;
  padding-right: 3em;
  background-color:rgba(0,181,121,.4);
  border-radius: 2%;
}*/


body,html {
    background-color: #47ECB5;
    margin: 0;
    font-family: 'Quattrocento', helvetica, sans-serif;
    font-size: 14px;
    color: #062770;
    /*min-height: 100%;*/
}

.jar {
  margin-right: 20em;
  margin-left: 5em;
  margin-top: 0;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 1em;
  background-color: #B9FFEF;
  border-left: .1em solid #0DFF36;
  border-right: .1em solid #0DFF36;
  min-height: 100vh;

  }
