body {
	margin: 0;
	font-family: 'Quattrocento', helvetica, sans-serif;
	font-size: 1em;
	min-height: 100vh;
	background-color: rgb(207,255,235);
}

header {
	margin: 0;
	width: 100vw;
	height: 30vh;
	background-image:
			url(http://placekitten.com/g/1400/250);
	background-size: cover;
}

aside {
	top: 0;
	right: 0;
	width: 25vw;
	height: 100vh;
  text-align: center;
  float: right;
  background-color: rgba(120,150,155,0.4);
  position: fixed;
	border-left: .5em solid rgba(120,150,155,0.05);
}

#questions {
	padding-top: 8vh;
	padding-bottom: 3vh;
	height: 24vh;
}

#bloglist {
	padding: 0;

}

aside a {
	color: #4CB09A;
}

aside a:visited {
	color: #4CB09A;
}

aside a:hover {
	color: #235247;
}

aside li {
	list-style: none;
	top: 32vh;
	padding: .3em;
	text-align: center;
	font-size: 1.07em;
}

section {
	border-top: .5em solid rgba(10,10,10,.5);
	padding-top: 5vh;
	padding-bottom: 5vh;
}

.arrows {
	margin-top: 1em;
	border: none;
}

.about-text {
	padding-top: 7vh;
	padding-right: 30vw;
	padding-left: 6vw;
}

.about-pic {
	float: left;
	margin-left: 6vw;
	margin-right: 5vw;
	margin-bottom: 3em;
	margin-top: 9vh;
	height: 90vh;
	width: 75vh;
	background-image: url("http://placekitten.com/g/500/600");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 2%;

}

.blog-title {
	padding-left: 18vw;
}

.bpost {
	padding-left: 15vw;
	padding-right: 35vw;
}

.after-intro {
	display: none;
}

.show-options {
	font-size: 2em;
	float: right;
	margin-right: 35vw;
}


h2 {
  color: #023D2D;
	font-size: 2em;
	padding: 3vh;
}

h3 {
	color: #034C39;
	font-size: 1.3em;
	padding: 2vh;
}

h4 {
	color: #034C39;
	font-size: 1.1em;
	padding: 1vh;
	padding-bottom: 1em
}

p {
	padding-bottom: 1em;
}

a {
  text-decoration: none;
  color: #224F45;
}

a:visited {
  color: #224F45;
}

a:hover {
  color: #4CB09A;
}

.links li {
  display: inline;
}

.links {
  list-style: none;
}

.next-page {
	text-align: right;
	margin-right: 33vw;
	margin-bottom: .7em;
	float: right;
	font-size: 3em;
	clear: both;
}

.back-page {
	text-align: left;
	margin-left: 10vw;
	margin-bottom: .7em;
	font-size: 3em;
}

#notfound {
	padding: 15em;
}
