<article class = "bpost">
  <h3 class = "title">One Month Ada Reflection</h3>
  <h4> Sept 28, 2014 </h4>
  <p>
  At the recent Ada welcome get together, I was asked how the first few weeks at Ada have been. My answer was "Very close to the best thing that's ever happened to me." Maybe this is a little too early to tell, but there are so many wonderful aspects of Ada. Number one is finally being on a path that points somewhere I want to go. It's going to be an incredibly challenging path, but also achievable due to the level of support surrounding the program. I'm incredibly thankful for that.
  </p><p>
  One more thing to be thankful for is the very carefully cultivated environment. In the classroom so much thought and energy has been put into making a atmosphere conducive to learning. It is an intentionally collaborative environment; we are all on the same team, working to make sure that everyone coming out of this program is a formidable programmer. I have tons of respect for all my classmates, and know that through the next five months I'm in for repeated amazement at the projects we'll build. I'll do my best to keep up! I hope to be able to recreate this kind of positive and productive environment wherever I go next.
  </p><p>
  I would like to also share some new technical skills in this blog. I have to say, that in these past four weeks there is one tool that has far outweighed the others in usefulness. That is: How to Look Things Up. Since I first began writing my application for Ada through to present, this advice has come up from so many programmers I respect. You don't have to know everything. You can't, actually. But you can't give up when you're not sure. The internet is our library, and the first time I write a program I have to stop and look up almost everything I want to do. The next time, I remember those things. My knowledge of them lets me build guesses of what I may be able to do next.
  </p><p>
  The first time you write a program, you may not know what a string is. But you want to work with characters, not numbers. So you look it up, and you learn about .reverse, .length and .upcase and all those cool things. The next time you write something, you're feeling more confident and want to search the string. So you learn a little about regular expressions. And then the regular expression shortcuts. And when you eventually get so advanced, you can't find the tool you need-- then you write it.
  </p><p>
  I hope to be more technically specific in my next post, and present some new specifics that I've learned. With repeated exercise, my blog writing muscle should strengthen a bit as well. Feel free to drop me a line with any questions, comments, corrections.
  </p>
</article>
